<a href="https://colab.research.google.com/github/anoop119/code/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
#Importing order dataset
#table_link = "https://github.com/ItsAwSM/SQL-for-Data-Analytics/blob/main/sales_database.xlsx?raw=true"
#sheet_name = "order_dim"
#table_name = "orders"

#order = pd.read_excel("https://github.com/ItsAwSM/SQL-for-Data-Analytics/blob/main/sales_database.xlsx?raw=true",sheet_name = 'order_dim')
#order.to_sql('orders',conn,if_exists='replace',index=False)
#order.head()
query5 = """ 
SELECT * 
FROM customer 
INNER JOIN orders
ON orders.cust_id=customer.cust_id 
INNER JOIN product 
ON product.product_id=orders.product_id 
""" 
pd.read_sql_query(query5,conn)

,cust_id,first_name,last_name,email,phone,primary_pincode,gender,dob,joining_date,order_id,...,product_id,delivery_person_id,payment_type,delivery_pincode,product_id,product_name,brand,category,procurement_cost_per_unit,mrp
0,10000001,Rahul,Gupta,rahul.gupta@gmail.com,8960722319,110001,male,02-12-1977,19-02-2016,10000000009,...,12348,1000006,cash,400001,12348,Dell ABC Mouse,Dell,mouse,350,1100
1,10000001,Rahul,Gupta,rahul.gupta@gmail.com,8960722319,110001,male,02-12-1977,19-02-2016,10000000031,...,12346,1000001,debit,560001,12346,HP 241H,HP,laptop,45000,80000
2,10000001,Rahul,Gupta,rahul.gupta@gmail.com,8960722319,110001,male,02-12-1977,19-02-2016,10000000047,...,12349,1000009,credit,400001,12349,Dell AX420,Dell,laptop,30000,75000
3,10000001,Rahul,Gupta,rahul.gupta@gmail.com,8960722319,110001,male,02-12-1977,19-02-2016,10000000076,...,12346,1000005,netbanking,700001,12346,HP 241H,HP,laptop,45000,80000
4,10000001,Rahul,Gupta,rahul.gupta@gmail.com,8960722319,110001,male,02-12-1977,19-02-2016,10000000091,...,12350,1000006,netbanking,400001,12350,Dell 8GB Pendrive,Dell,pendrive,250,850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,10000014,Amanpreet,Singh,amanpreet.singh@yahoo.com,8153506539,110001,male,10-03-1980,29-08-2008,10000000919,...,12347,1000008,credit,110001,12347,HP 8GB Pendrive,HP,pendrive,350,800
1046,10000014,Amanpreet,Singh,amanpreet.singh@yahoo.com,8153506539,110001,male,10-03-1980,29-08-2008,10000000932,...,12346,1000007,credit,700001,12346,HP 241H,HP,laptop,45000,80000
1047,10000014,Amanpreet,Singh,amanpreet.singh@yahoo.com,8153506539,110001,male,10-03-1980,29-08-2008,10000000932,...,12346,1000007,credit,700001,12346,HP 241H,HP,laptop,45000,80000
1048,10000014,Amanpreet,Singh,amanpreet.singh@yahoo.com,8153506539,110001,male,10-03-1980,29-08-2008,10000000939,...,12345,1000008,netbanking,110001,12345,HP XYZ Mouse,HP,mouse,650,1500
1049,10000014,Amanpreet,Singh,amanpreet.singh@yahoo.com,8153506539,110001,male,10-03-1980,29-08-2008,10000000954,...,12348,1000001,credit,560001,12348,Dell ABC Mouse,Dell,mouse,350,1100

# New Section