<a href="https://colab.research.google.com/github/anoop119/code/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
!pip install xlrd
import pandas as pd
import sqlite3
conn = sqlite3.connect(':memory:')

#Importing customer dataset
customer = pd.read_excel("https://github.com/ItsAwSM/SQL-for-Data-Analytics/blob/main/sales_database.xlsx?raw=true",sheet_name="customer_dim")
customer.to_sql('customer',conn,if_exists='replace',index=False)
customer.head()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.10/dist-packages (2.0.1)

,cust_id,first_name,last_name,email,phone,primary_pincode,gender,dob,joining_date
0,10000001,Rahul,Gupta,rahul.gupta@gmail.com,8960722319,110001,male,02-12-1977,19-02-2016
1,10000002,Abhinav,Sharma,abhinav.sharma@gmail.com,8857852863,400001,male,20-09-1995,01-10-2016
2,10000003,Anubhav,Patel,anubhav.patel@gmail.com,8492146048,560001,male,26-12-1986,16-08-2018
3,10000004,Neha,Verma,neha.verma@gmail.com,8631861914,600001,female,20-01-2002,28-07-2009
4,10000005,John,Bernard,john.bernard@gmail.com,8215391844,500001,male,NaN,05-03-2017

# New Section